/* Reset */
/*html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*/
body{
  font-family: "Caecilia-Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;  
  border-spacing:0;
  margin:0;
}

ul.menu li {
  display: inline-block;
  padding: 8px 0px;
  margin: 0px 5px;
}

section {  
  position: relative;
  width: 100% !important;
  min-width: 1000px;
  margin: 0;
  padding: 0;
  height: 100%;
  display: block;
}

section#contact {  
  min-height: 1000px;
}

section h1 {
  font-family: 'Bitter', Helvetica, sans-serif;
  font-size: 1.4rem;
  text-transform: uppercase;
  line-height: 2rem;
  font-weight: 100;
  width: 50%;
}
section p{
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
  font-weight: 100;
}
section article{position:absolute;top:240px;left:40px;width:300px;z-index:4;}

.parallax-item{position:absolute;z-index:5;top:40px;left:400px;}

/* Layout
 * --------------------------------------- */
 .layout {  
  width: 100%;
  height: 100%;
}

.layout-content {
  height: 100%;
}

/* Section / Chapter
 * --------------------------------------- */
section div.story {    
  position: absolute;
  width: 100%;
  height:100%;
  background-color: rgba(26, 61, 132, 0.7);
  z-index: 1;
}

section div.no-bg {    
  background: none;
}

section div.chapter {
  position: relative;  
  height: 100%;
  opacity: 1.0;
  margin: 0;
  width: 1000px;
}

section div.chapter-white {  
    background-color: #FFF;
  position: relative;
  padding-top: 50px;
  height: 600px;
  top: 100px;
  z-index: 3;
}

#contact div.chapter-white {    
  height: 860px;
}

section div.chapter.home {
  background-color: rgba(26, 61, 132, 0.7);
}

section div.chapter-img {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

section div.home {
  background: none;
}

section.home .story{
  background: none;
}

section.home .chapter{
  background-color: rgba(26, 61, 132, 0.7);
}

section.home .chapter-white{
  background: none;
}

section .chapter-content {
  padding: 30px 60px;
}

.citation {  
  position: absolute;
  bottom: 20px;
  font-size: 4rem;    
  margin-top: 50%;
  padding: 20px 30px;
  font-size: 1.3rem;
  line-height: 2rem;
}

.citation {
  color: #97D4C8;  
  margin: 30px 160px;  
}

.citation .text {
  font-size: 1.4rem;
  text-align: left;
  line-height: 2.3rem;
  font-weight: 100;
}  

.citation .author {
  text-align: right;
}

/* Menu
 * --------------------------------------- */

div.header_menu {
  position: fixed;
  width: 1000px;
  height: 90px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* margin: 0 auto; */
  background-color: #FFF;
  z-index: 2;
}

div.header_menu h3.menu-toggle {
  position: absolute;
  top: 25px;
  right: 19px;
  margin: 0;
  width: 40px;
  height: 40px;
  background: transparent url("../images/sprites.png") -176px 4px no-repeat;
  cursor: pointer;
}

div.menu-toggle-alone {
  float: right;
  position: relative;
  top: 25px;
  right: 19px;
  margin: 0;
  width: 40px;
  height: 40px;
  background: transparent url("../images/sprites.png") -176px 4px no-repeat;
  cursor: pointer;
}

div.header_menu .title {
  font-family:"Open Sans";
  position: absolute;  
  font-size: 2rem;    
  margin: 10px 18px;
  text-transform: uppercase;
  width: 100%;    
  bottom: 0;  
}

header.menu-nav.toggled {
  display: block;
}

header.menu-nav:after {
  position: absolute;
  top: -10px;
  right: 6px;
  border-bottom: 10px solid rgba( 255, 255, 255, .9 );
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  content: '';
}

header.menu-nav ul {
  width: 1000px;
  margin: auto;
  font-family: Helvetica, sans-serif;;
  list-style: none;
  margin: 0px 10px;
}

header.menu-nav ul li:nth-child(n+2) {
  padding-left: 10px;
  height: 7px;
  bottom: 16px;
  position: relative;
}

header.menu-nav ul li:nth-child(2) {
  border-left: 2px solid #808285;
  padding-left: 10px;
  height: 7px;
  bottom: 16px;
  position: relative;
}

header.menu-nav > ul > li:nth-child(n+1) > a {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
  bottom: 5px;
  position: relative;
  text-decoration: none;
}

header.menu-nav a:visited {
  color: #808285;
}

header.menu-nav a:hover {
  color: #808285;
}

/* Logo
 * --------------------------------------- */

.logo-white {
  position: absolute;
  width: 1000px;    
  top: 30%;  
  text-align: center;  
  z-index: 1;
}

.logo-home {
  cursor: pointer;  
}

.fake-lamp {
  cursor: pointer;
  width: 60px;
  height: 80px;  
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  overflow: visible;
  z-index: 3;
}

.home .fake-lamp {
  display: none;
}

/*HIDE/SHOW PART ARROW*/



.arrow-left {
  cursor: pointer;
  float: right;  
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid #061B6A;
  width: 0;  
  position: absolute;
  right: 0px;
  bottom: 300px;
  z-index: 5;
}

.arrow-right {
  cursor: pointer;
  float: right;
  margin: 0 auto;  
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #061B6A;
  width: 0;  
  display:none;
  position: absolute;
  right: -28px;
  bottom: 300px;
  z-index: 5;
}

.vcard {
  position: relative;
  left: 100px; 
  margin: 20px; 
}

section.home div.arrow {
  display: none !important;
} 

.rectangle {
  width: 10px;
  height: 10px;  
  float: left;
  top: 8px;
  margin-right: 10px;
  position: relative; 
}

.color-1 { background-color: #0C2D8C; }
.color-2 { background-color: #061B6A; }
.color-3 { background-color: #0C2D8C; }
.color-4 { background-color: #0F3FAA; }
.color-5 { background-color: #0C2D8C; }

#footer {
  height: 10px;
  background-color: white;
  font-size: 12px;
  padding: 10px 30px; 
}

@media (max-height: 800px) {
  section div.chapter-img {
    height: 100px;
  }

  .logo-home {
    height: 150px;
  }

  section p {
    font-size: 16px;
    line-height: 1.4rem;
    font-weight: normal;
  }

  .citation {
    padding: 0px 30px;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 40%;
  }

  .citation .text {
    font-size: 1.2rem;   
    line-height: 2rem;
        
  }

}

