@CHARSET "ISO-8859-1";

body {
  margin: 0;
  font-family: "Caecilia-Light", 'Helvetica Neue', Arial, Helvetica, sans-serif;  
}

/*font-family: "Open Sans",Helvetica,Arial,sans-serif;*/

 h1 {  
  font-size: 1.5rem;  
  font-family: "Bitter";  
  font-size: 1.4rem;  
  text-transform: uppercase;
  width: 100%;  
}

p {
  text-align: justify;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.4rem;
  margin-right: 100px;
}

p.expertise {
  font-size: 18px;
}

ul.menu li {
  display: inline-block;
  padding: 8px 0px;
  margin: 0px 10px;  
}

/* Section / Chapter
 * --------------------------------------- */
section {  
  position: relative;
  width: 100% !important;
  min-width: 1000px;
  margin: 0;
  padding: 0;  
  display: block;
}

section div.story {    
  position: relative;  
  height:100%;  
  z-index: 1;
  width: 1000px;  
  margin: auto;
  background-color: rgba(26, 61, 132, 0.95);
}

section div.no-bg {    
  background: none;
}

section div.chapter {
  position: relative;  
  height: 100%;
  opacity: 1.0;
  margin: 0;
  width: 1000px;
}

section div.chapter-white {  
  background-color: #FFF;
  position: relative;
  padding-top: 50px;  
  z-index: 3;
}

#contact div.chapter-white {    
  height: 860px;
}

section div.chapter.home {
  background-color: rgba(26, 61, 132, 0.7);
}

section div.chapter-img {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

section.home .story{
  background: none;
}

section.home .chapter{
  /*background-color: rgba(26, 61, 132, 0.7);*/
}

section.home .chapter-white{
  background: none;
}

section .chapter-content {
  padding: 30px 60px;
}

.citation { 
  position: relative;
  height: 350px;
  z-index: 1;
  margin: auto;
  top: 150px;
  z-index: 1;  
  margin: auto;  
  font-size: 4rem;      
  padding: 20px 30px;
  font-size: 1.3rem;
  line-height: 2rem;
}

.citation.home {
  padding-top: 110px;
  top: 240px;
}

.citation {
  color: #97D4C8;  
  margin: 30px 160px;  
}

.citation .text {
  font-size: 1.4rem;
  text-align: left;
  line-height: 2.3rem;
  font-weight: 100;
}  

.citation .author {
  text-align: right;
}
.imageHolder::after {
  border-left: 20px solid #FFF;
}

#footer {
  width: 100%;
  height: 15px;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  text-align: center;
  margin: auto;  
  font-size: 12px;
  border-top: 1px solid #eee;  
  padding: 8px 0px;  
}

/* Menu
 * --------------------------------------- */

div.header_menu {
  position: fixed;  
  height: 90px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 1000px;
  margin: 0 auto;
  background-color: #FFF;
  z-index: 2;
}

div.header_menu h3.menu-toggle {
  position: absolute;
  top: 25px;
  right: 19px;
  margin: 0;
  width: 40px;
  height: 40px;
  background: transparent url("../images/sprites.png") -176px 4px no-repeat;
  cursor: pointer;
}

div.menu-toggle-alone {
  float: right;
  position: relative;
  top: 25px;
  right: 19px;
  margin: 0;
  width: 40px;
  height: 40px;
  background: transparent url("../images/sprites.png") -176px 4px no-repeat;
  cursor: pointer;
}

div.header_menu .title {
  font-family:"Open Sans";
  position: absolute;  
  font-size: 2rem;    
  margin: 10px 18px;
  text-transform: uppercase;
  width: 100%;    
  bottom: 0;  
}

header.menu-nav.toggled {
  display: block;
}

header.menu-nav:after {
  position: absolute;
  top: -10px;
  right: 6px;
  border-bottom: 10px solid rgba( 255, 255, 255, .9 );
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  content: '';
}

header.menu-nav ul {  
  margin: auto;
  font-family: 'Open Sans', Helvetica, sans-serif;  
  list-style: none;
  margin: 0px 10px;
}

header.menu-nav ul li:nth-child(n+2) {
  padding-left: 10px;
  height: 7px;
  bottom: 16px;
  position: relative;
}

header.menu-nav ul li:nth-child(2) {
  border-left: 2px solid #808285;
  padding-left: 10px;
  height: 7px;
  bottom: 16px;
  position: relative;
}

header.menu-nav > ul > li:nth-child(n+1) > a {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  color: #000;
  bottom: 5px;
  position: relative;
  text-decoration: none;
}

header.menu-nav a:visited {
  color: #808285;
}

header.menu-nav a:hover {
  color: #808285;
}

/* Logo
 * --------------------------------------- */

.logo-white {
  width: 471px;
  overflow: auto;
  position: relative;
  margin: auto auto;
  top: 100px;  
  overflow: visible;  
}

.logo-home {
  cursor: pointer;
  position: absolute;
  top: 20%;
  left: 10%;
}

.rectangle {
  width: 10px;
  height: 10px;
  border-radius: 6px;
  float: left;
  top: 8px;
  margin-right: 10px;
  position: relative; 
}

.color-1 { background-color: #0C2D8C; }
.color-2 { background-color: #061B6A; }
.color-3 { background-color: #0C2D8C; }
.color-4 { background-color: #0F3FAA; }
.color-5 { background-color: #0C2D8C; }

.grid__col--4-of-5 {
  cursor: pointer;
  /* width: 60px; */
  height: 71px;
  margin-top: auto;
  position: relative;
  top: 0;
}

.fake-lamp {
  cursor: pointer;
  width: 60px;
  height: 80px;  
  margin: auto;
  position: relative;      
  z-index: 3;
}

.hide {
  display: none;
}
  
@media only screen and (-webkit-min-device-pixel-ratio: 2),(min-resolution: 192dpi) {
  .logo-white{
    height: 528px;
  }
}
