@CHARSET "ISO-8859-1";
/* Reset CSS
 * --------------------------------------- */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
form,fieldset,input,textarea,p,blockquote,th,td {
    padding: 0;
    margin: 0;
}
a{
  text-decoration:none;
}
table {
    border-spacing: 0;
}
fieldset,img {
    border: 0;
}
address,caption,cite,code,dfn,em,strong,th,var {
    font-weight: normal;
    font-style: normal;
}
strong{
  font-weight: bold;
}
ol,ul {
    list-style: none;
    margin:0;
    padding:0;
}
caption,th {
    text-align: left;

}
h1,h2,h3,h4,h5,h6 {
  font-weight: normal;
  font-size: 100%;
  margin: 0 55px;
  padding:0;
  color:#FAF4F4;
}

q:before,q:after {
    content:'';
}
abbr,acronym { border: 0;
}


/* Custom CSS
 * --------------------------------------- */
body{
  font-family: arial,helvetica;
  color: #333;
  color: rgba(0,0,0,0.5);
}

h1{
  font-size: 3em;
}
p{
  font-size: 1.2em;
  margin: 40px 60px;
  line-height: 2rem;
}
.intro p{
  width: 50%;
  margin: 0 auto;
  font-size: 1.5em;
}
#menu li {
  display: inline-block;
  padding: 8px 15px;
  margin: 0px 10px;
  border-radius: 15px;
  box-shadow: 0 0 5px 1px rgba(0,0,0,0.2) inset;
  border: 1px solid rgba(0,0,0,0.3);
}
#menu li.active{
  /*background:#666;
  background: rgba(0,0,0, 0.5);
  color: #fff;*/
}
#menu li a{
  text-decoration: none;
  color: #fff;
}
#menu li.active a:hover{
  text-decoration: underline;
  color: #fff;
}
#menu li:hover{
  background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
  padding: 9px 8px;
  display:block;
}
#menu li.active a{
  color: #fff;
}
#highlight {
  border-radius: 15px;
  background-color: rgb(255, 157, 0);
  position: absolute;
  display: inline-block;
  z-index: 0;
}
#menu { 
  position: fixed;
  display: inline-block;
  margin: 0 auto;  
  padding: 8px 0;    
  width: 100%;
  z-index: 50;
  font-family: 'Raleway';
}

/* Menu
 * --------------------------------------- */

/*https://css-tricks.com/perfect-full-page-background-image/*/
#section1 {
  background: url(../images/berlin-1.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#section2, #section3, #section4 {
  background: url(../images/berlin-2.jpg) no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content-container {
  width: 67.5rem;
  position: relative;  
  padding: 5rem 0;    
  color: #DBDBDB;
  padding-top: 25%;
  height: 100%;
}

.content-container.home {
  margin: auto 0;
  background: rgba(0,0,0,.35);
  margin-top: 50%;
  padding-top: 0;
  height: 0px;
}

.citation {
  background: rgba(19, 17, 17, 0.43);
  bottom: 0px;  
  font-size: 4em;
  position: absolute;
  width: 100%;
  padding: 20px 30px;
  font-size: 1.3rem;
  line-height: 2rem;
}

.citation .text {
  margin: 0 30px;  
}

.citation.home {
  
}

.author {
  float:right;
  font-size: 1.1rem;
  margin: 0 30px;
}

/*HIDE/SHOW PART ARROW*/
.arrow-left {
  cursor: pointer;
  float: right;
  margin: 0 auto;  
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid rgb(99, 99, 100); 
  width: 0;
}

.arrow-right {
  cursor: pointer;
  float: right;
  margin: 0 auto;  
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid rgb(99, 99, 100); 
  width: 0;
  left: 50px;
  position: relative;
  display:none;
}

.circle {
  border-radius: 50%;
  width: 50px;
  height: 50px; 
  background: rgba(0, 216, 255, 0.38);
}

.rectangle {
  border-radius: 10px;
  height: 1px;
  background: rgba(0, 216, 255, 0.38);
}

p.interventions {
  font-size: 1em;
  text-align: left;
}

p.expertise {
  margin: 30px 60px;
}

div.intervention {
  margin: 50px 0;
}

.bg {
  height: 100%;
  background: rgba(13, 14, 107, 0.9);
}

section {
  height: 100%;
}

@media only screen and (min-width: 901px) {
  div.content-container, div.bg {
    width: 1000px;
  }
}

.content-container .content {
  width: 66.6%;
  padding-left: 1.25rem;
  box-sizing: border-box;
  float: left;
}  

/* Form
 * --------------------------------------- 
 * http://codepen.io/chriscoyier/pen/CiflJ 
 */

* {
  box-sizing: border-box;
}
form {
  width: 320px;
  /*float: left;*/
  margin: 20px;
}
form > div {
  position: relative;
  overflow: hidden;
}
form input, form textarea {
  width: 100%;
  border: 1px solid gray;
  background: none;
  position: relative;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 8px 12px;
  outline: 0;
}
form input:valid, form textarea:valid {
  background: white;
}
form input:focus, form textarea:focus {
  border-color: #f06d06;
}
form input:focus + label, form textarea:focus + label {
  background: #f06d06;
  color: white;
  font-size: 70%;
  padding: 1px 6px;
  z-index: 2;
  text-transform: uppercase;
}
form label {
  transition: background 0.2s, color 0.2s, top 0.2s, bottom 0.2s, right 0.2s, left 0.2s;
  position: absolute;
  color: #999;
  padding: 7px 6px;
}
form textarea {
  display: block;
  resize: vertical;
}

form.go-bottom input, form.go-bottom textarea {
  padding: 12px 12px 12px 12px;
}
form.go-bottom label {
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}
form.go-bottom input:focus, form.go-bottom textarea:focus {
  padding: 4px 6px 20px 6px;
}
form.go-bottom input:focus + label, form.go-bottom textarea:focus + label {
  top: 100%;
  margin-top: -16px;
}
