@CHARSET "ISO-8859-1";
/* Common
 * --------------------------------------- */
 h1 {
  font-size: 1.5rem;
  margin: 20px 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 100;
}

/* Layout
 * --------------------------------------- */
 .layout {  
  width: 100%;
  height: 100%;
}

.layout-content {
  height: 100%;
}

/* Section / Chapter
 * --------------------------------------- */
section div.story {
  background-color: rgba(26, 61, 132, 0.7);
}

section div.story.home {
  background: none;
}

section div.chapter {
  position: relative;  
  height: 100%;
  opacity: 1.0;
  margin: 0;
  width: 1000px;
}

section div.chapter-white {  
  background-color: #FFF;
  height: 82%;  
}

section div.chapter.home {
  background-color: rgba(26, 61, 132, 0.7);
}

section div.chapter-content {
  margin: 20px;
}

section div.chapter-img {
  width: 100%;
  height: 250px;
  margin-bottom: 20px;
}

section div.home {
  background: none;
}

.citation {  
  position: relative;
  font-size: 4rem;  
  bottom: 20%;  
  margin-top: 50%;
  padding: 20px 30px;
  font-size: 1.3rem;
  line-height: 2rem;
}

.citation.home {
  color: #97D4C8;  
  bottom: 0px;
  margin: 0px 180px;
  position: relative;
}

.citation .text {
  font-size: 1.4rem;
  text-align: left;
  line-height: 2.5rem;
  font-weight: 100;
}

/* Menu
 * --------------------------------------- */

div.header_menu {
  position: relative;
  background-color: #FFF;    
  display: none;
  visibility: hidden;
  width: 1000px;
  height: 80px;
  z-index: 2;
}

div.header_menu h3.menu-toggle {
  position: absolute;
  top: 25px;
  right: 19px;
  margin: 0;
  width: 40px;
  height: 40px;
  background: transparent url("../images/sprites.png") -176px 4px no-repeat;
  cursor: pointer;
}

div.header_menu .title {
  font-family:"Open Sans";
  position: absolute;  
  font-size: 2rem;    
  margin: 10px 18px;
  text-transform: uppercase;
  width: 100%;    
  bottom: 0;  
}

.grid__col--4-of-5 {
  cursor: pointer;
  /* width: 60px; */
  height: 71px;
  margin-top: auto;
  position: relative;
  top: 0;
}

ul.menu li {
  display: inline-block;
  padding: 8px 0px;
  margin: 0px 10px;  
}

.navigation {
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 13px;
  width: 240px;
  z-index: 999;
}

div.menu-nav {
  border-radius: 2px;
  position: relative;
  display: none;
  margin-top: 90px;
  padding: 16px 24px;
  margin-right: 7px;
  background: #fff;
}

div.menu-nav.toggled {
  display: block;
}

div.menu-nav:after {
  position: absolute;
  top: -10px;
  right: 6px;
  border-bottom: 10px solid rgba( 255, 255, 255, .9 );
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  content: '';
}

div.menu-nav ul {
  font-family: 'Open Sans', Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  list-style: none;
  border-left: 2px solid #808285;
}

div.menu-nav > ul > li > a {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
}

div.menu-nav a:visited {
  color: #808285;
}

div.menu-nav a:hover {
  color: #808285;
}

.footer {
  bottom: 0px;
  position: absolute;
  text-align: center;
  width: 1000px;
  color: #fff;
  background-color: #0F0261;
}

/* Logo
 * --------------------------------------- */

.logo-white {
  width: 100%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  overflow: visible;
}

.logo-home {
  cursor: pointer;  
}

.fake-lamp {
  cursor: pointer;
  width: 60px;
  height: 80px;  
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  overflow: visible;
}

.white-rect-above {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #FFF;
  top: 80px;
}

.rectangle {
  width: 60px;
  height: 60px;  
}

.color-1 { background-color: #0C2D8C; }
.color-2 { background-color: #061B6A; }
.color-3 { background-color: #0C2D8C; }
.color-4 { background-color: #0F3FAA; }
.color-5 { background-color: #0C2D8C; }

div.who { background: url('../images/berlin-6.jpg') 1199px 1720px; }
div.apports { background: url('../images/berlin-7.jpg') 1199px 1720px; }
div.expertise { background: url('../images/berlin-3.jpg') 1199px 1720px; }
div.interventions { background: url('../images/berlin-4.jpg') 1199px 1720px; }

@media (max-height: 700px) {
  section div.chapter-img {
    height: 100px;
  }

  .logo-home {
    height: 150px;
  }

  p {
    font-size: 16px;
    line-height: 1.4rem;
    font-weight: normal;
  }

  .citation {
    padding: 0px 30px;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-top: 40%;
  }

  .citation .text {
    font-size: 1.2rem;   
    line-height: 2rem;
        
  }

}


@media (max-width : 480px){

  body {
    min-width: 100%;
  }

  p {
    font-size: 13px;
    line-height: 1.2rem;
    font-weight: normal;
  }

  div.header_menu {
    width: 100%;
  }

  .logo-home {
    height: 100px;
  }

  section div.chapter {  
    width: 100%;
  }

  section div.chapter-white {
    height: 100%;
  }

  img.bg, div.arrow, section div.chapter-img { 
    display: none;
    width: 0px;
  }  

  section div.chapter-content span {
    display: none;
  }

  .citation.home {
    margin: 40px 0px;
  }


}



/*HIDE/SHOW PART ARROW*/
.arrow-left {
  cursor: pointer;
  float: right;  
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid rgb(67, 67, 70);
  width: 0;  
  position: absolute;
  right: 0px;
  bottom: 300px;
  z-index: 5;
}

.arrow-right {
  cursor: pointer;
  float: right;
  margin: 0 auto;  
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid rgb(67, 67, 70);
  width: 0;  
  display:none;
  position: absolute;
  right: -28px;
  bottom: 300px;
  z-index: 5;
}
