@CHARSET "ISO-8859-1";

.header_menu {
  /*float: left;*/
  position: relative;
  background-color: #FFF;    
  display: none;
  visibility: hidden;
  width: 1000px;
  height: 103px;
  z-index: 2;
}

.footer {
  bottom: 0px;
  position: absolute;
  text-align: center;
  width: 1000px;
  color: #fff;
  background-color: #0F0261;
}

h1 {
  font-size: 1.5rem;
  margin: 10px 0;
}

p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-weight: 100;
}

.logo-white {
  width: 100%;
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

.logo-home {
  cursor: pointer;  
}

.smart-object-parent {
  width: 46px; height: 46px; border-radius: 23px; position: absolute; background-color: rgb(56, 56, 60);
}

.smart-object-parent:hover {
  background-color: #FFF;  
  border-radius: 50%;
  transition: all 2s;
}

.smart-object-parent:hover .smart-object {
    height: 30px;
    display: block;
}

#menu li {
  display: inline-block;
  padding: 8px 0px;
  margin: 0px 10px;  
}
#menu li.active{  
  color: #0F3FAA;
}
#menu li a{
  text-decoration: none;
  color: #0C2D8C;
  font-size: 1.2rem;
}
#menu li.active a:hover{
  text-decoration: underline;
  color: #eee;
}
#menu li:hover{
  /*background: rgba(255,255,255, 0.8);*/
}
#menu li a,
#menu li.active a{
  padding: 9px 8px;
  display:block;
}
#menu li.active a{
  color: #184ec6;
}

.header_menu .menu-toggle {
  position: absolute;
  top: 8px;
  right: 8px;
  margin: 0;
  width: 40px;
  height: 40px;
  background: transparent url("../images/sprites.png") -176px 4px no-repeat;
  cursor: pointer;
}

.layout {  
  width: 100%;
  height: 100%;
  /*background-color: #1A3D84;
  opacity: 0.7;     */
}

.layout-content {
  height: 100%;
}

.layout-home {  
  /*width: 1000px;
  height: 100%;
  background-color: #1A3D84;
  opacity: 0.7;     */
}

.rectangle {
  width: 60px;
  height: 60px;  
}

.color-1 { background-color: #0C2D8C; }
.color-2 { background-color: #061B6A; }
.color-3 { background-color: #0C2D8C; }
.color-4 { background-color: #0F3FAA; }
.color-5 { background-color: #0C2D8C; }


.white-rect-above {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: #FFF;
  top: 103px;
}

section .story {
  background-color: rgba(26, 61, 132, 0.7);
}

section .story.home {
  background: none;
}

div.first {
  background: url('../images/berlin-2.jpg')
}

.pattern-blue {
  background-color: rgba(26, 61, 132, 0.7);
}

.chapter {
  position: relative;  
  height: 100%;
  opacity: 1.0;
  margin: 0;
  width: 1000px;
}

.chapter-white {  
  background-color: #FFF;
  height: 85%;  
}

.home {
  background: none;
}

.chapter.home {
  background-color: rgba(26, 61, 132, 0.7);
}

.chapter-content {
  margin: 20px;
}

.chapter-img {
  width: 100%;
  height: 300px;
  margin-top: 20px;
}

.citation {  
  position: absolute;
  font-size: 4rem;  
  bottom: 20%;  
  padding: 20px 30px;
  font-size: 1.3rem;
  line-height: 2rem;
}

.citation.home {
  color: #97D4C8;  
  bottom: 0px;
  margin: 20px 77px;
  position: relative;
}

.citation .text {
  font-size: 2rem;
  text-align: left;
  line-height: 2.5rem;
  font-weight: 100;
}

/*HIDE/SHOW PART ARROW*/
.arrow-left {
  cursor: pointer;
  float: right;
  margin: 0 auto;  
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-right: 50px solid rgb(67, 67, 70); 
  width: 0;
  top: 100px;
  position: relative;
}

.arrow-right {
  cursor: pointer;
  float: right;
  margin: 0 auto;  
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid rgb(67, 67, 70);
  width: 0;
  left: 50px;
  position: relative;
  display:none;
  top: 100px;
  position: relative;
}
